
.leftContentWrapper{
  background-color: #fff;
}
.rightContentWrapper{
  background-color: #f6faff;
}


.Detailslink{
  color: #aaa;
}

.dentist {
  background-color: #3734a9;
}

.physiotherapy {
  background-color: #dce3fd;
}
.txtgrey{
  color: #aaa;
}